.searchFilter_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
.searchResult_container{
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}