.mainContainer{
    background-color: white;
    display: flex;
    margin-top: 2vh;
    padding-right: 2%;
    .pageContent{
        background-color: white;
        padding: 2% 1%;
        flex-grow: 1;
        gap: 4%;
        max-width: 80%;
        border-radius: 18px;
        display: flex;
        .contentTitle{
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #105f7eb9;

        }
        .middleContent{
            width: 60%;
            .myCourses{
                display: flex;
                gap: 2%;
                height: 30vh;
                min-width: 100%;
                margin-bottom: 4%;
            }
            
        }
        .rightContent{
            width: 40%;
        }
        .AssignmentNotify{
            border: solid 2px white;
            border-left: solid 7px green;
            border-radius: 15px;
            padding: 1%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 4%;
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 6px );
            -webkit-backdrop-filter: blur( 6px );
        }
    }
}

@media screen and (max-width:500px) {
    .pageContent{
        flex-direction: column;
    }
}